@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #303e54;
  --main-color: #f7ece2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: var(--main-color);
  background: var(--main-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-heroImage {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
  }

  .clip-heroShape2 {
    clip-path: path(
      "M316.651 1.6114C386.187 6.82604 452.732 32.1352 500.892 82.6085C547.975 131.954 571.355 198.794 569.883 267.011C568.444 333.737 537.245 393.594 493.103 443.619C445.373 497.711 388.753 554.554 316.651 553.996C244.835 553.44 196.066 489.239 142.906 440.909C85.3637 388.594 9.03323 344.4 0.990489 267.011C-7.5048 185.268 39.6923 105.599 102.565 52.7371C160.962 3.6377 240.596 -4.0921 316.651 1.6114Z"
    );
    overflow: hidden;
    background: #ecc889;
  
    width: 570px;
    height: 554px;
    position: absolute;
  }
  .clip-skill-item {
    clip-path: path(
      "M110.585 0.51491C145.648 3.68093 161.734 40.4729 171.174 74.4014C179.071 102.785 175.583 133.546 152.79 152.204C125.114 174.86 87.3866 186.74 57.0198 167.847C19.1278 144.272 -10.2238 101.763 3.38485 59.2511C17.1218 16.3382 65.7239 -3.5358 110.585 0.51491Z"
    );
    overflow: hidden;
    background:var(--main-color);
    width: 175px;
    height: 178px;
  }
  .clip-footer {
    clip-path: path(
      "M1728 220.589V338H3.05176e-05V305.781C138.914 176.823 334.714 172.939 535.086 168.964C637.928 166.924 741.975 164.859 840.153 145.848C915.91 131.178 990.754 103.832 1064.75 76.7947C1219.04 20.4214 1369.65 -34.6082 1517.19 29.4118C1609.72 69.5622 1675.28 138.302 1728 220.589Z"
    );
    overflow: hidden;
    background: #ecc889;
    width: 570px;
    height: 554px;
  }

  .clip-heroShape3,
  .clip-heroShape4,
  .clip-heroShape5 {
    clip-path: path(
      "M314.7,631.2c-21.9,0-44.2-2.7-66.3-7.9c-37-8.7-73.7-24.4-109.2-46.7c-34.7-21.7-63.9-47.1-86.7-75.6C27,469.4,10.5,435.1,3.3,399.1c-12.7-63.1,17.1-121.5,45.9-178l2.5-5c3.5-6.9,7.1-14,10.5-20.9c8.4-17.1,16.3-36.9,23.2-54.4c25-62.8,50.8-127.7,113.4-139.1c51.9-9.5,88.3,29.5,126.8,70.7c20.3,21.8,43.2,46.4,68.8,61.7c25,14.9,54.4,23.5,82.9,31.7c50.3,14.7,97.7,28.5,120.5,73.8c18.5,36.6,25.2,80.5,19.3,126.8c-5.3,42.3-20.5,85.2-43.9,124.1C551.9,526,522,556,484.5,579.7c-34.7,21.9-75.7,38-118.6,46.5C349,629.5,331.7,631.2,314.7,631.2z M214.3,1.3c-5,0-10.1,0.5-15.3,1.4c-62.1,11.4-87.8,76-112.6,138.5c-6.9,17.5-14.8,37.3-23.2,54.4c-3.4,6.9-7,14-10.5,20.9l-2.5,5C21.4,277.9-8.3,336.2,4.3,398.9c7.2,35.9,23.6,70,48.9,101.5c22.8,28.4,51.9,53.8,86.5,75.4c35.4,22.2,72.1,37.9,108.9,46.5c22,5.2,44.3,7.9,66.1,7.9c17,0,34.1-1.7,51-5c42.8-8.5,83.7-24.5,118.2-46.3c37.4-23.6,67.2-53.6,88.4-88.9c23.3-38.7,38.4-81.5,43.7-123.7c5.8-46.1-0.9-89.7-19.2-126.2c-22.6-44.9-69.8-58.7-119.8-73.2c-28.6-8.3-58.1-16.9-83.2-31.9c-25.7-15.3-48.7-40.1-69-61.9C290.5,36.2,257.8,1.3,214.3,1.3z"
    );
    position: absolute;
    width: 620px;
    height: 635px;
    transform: scale(0.9);
    opacity: 0.75;
  }
  .clip-heroShape3-color {
    background: #bbbea0;
    transform: rotate(180deg);
  }
  .clip-heroShape4-color {
    background: #f7ece2;
    transform: rotate(0deg);
  }
  .clip-heroShape5-color {
    background: #dc8c73;
    transform: rotate(270deg);
  }
}

@media screen and (max-width: 1280px) {
  .clip-heroShape2 {
    scale: 0.7;
  }
  .clip-heroShape3,
  .clip-heroShape4,
  .clip-heroShape5 {
    scale: 0.7;
  }
}
@media screen and (max-width: 768px) {
  .clip-heroShape2 {
    scale: 0.75;
  }
  .clip-heroShape3,
  .clip-heroShape4,
  .clip-heroShape5 {
    scale: 0.75;
  }
}
